<app-page-content-container
  [hasCreateNewButton]="true"
  [isLoading]="isLoading"
  buttonMatToolTip="Add new cinema manager"
  pageTitle="Cinema managers"
  routerLink="/cinema-managers/create"
>
  <ng-container content>
    <app-generic-table
      (delete)="handleDelete($event)"
      (edit)="handleEdit($event)"
      (showDetails)="handleShowDetails($event)"
      [columns]="displayedColumns"
      [dataSource]="cinemaManagers"
    ></app-generic-table>
    <mat-paginator
      (page)="handlePageEvent($event)"
      [length]="dataLength"
      [pageIndex]="paginatorRequestParams.page"
      [pageSizeOptions]="[5, 10, 25, 50]"
      [pageSize]="paginatorRequestParams.size"
      aria-label="Select page"
      class="mat-paginator"
    >
    </mat-paginator>
  </ng-container>
</app-page-content-container>
