.inputs-form-container {
  display: flex;
  flex-direction: column;
}

.input-form-field {
  width: 100%;
}

.form-buttons-container {
  display: flex;
  justify-content: flex-end;

  button {
    margin-right: 1rem;

    &:last-child {
      margin-right: 0;
    }
  }
}
