@import "../../../shared/styles/_colors";

$toolbar-height: 64px;

.drawer-container {
  min-height: calc(100vh - $toolbar-height);

  &__drawer {
    width: 12%;
    max-height: calc(100vh - $toolbar-height);
    position: fixed;
    top: $toolbar-height;
    background-color: $app-drawer-bg-color;
  }

  &__content {
    min-height: calc(100vh - $toolbar-height);
    margin-top: $toolbar-height;
  }
}

.main {
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 1rem 0;
}
