<form
  #createCinemaForm="ngForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="cinemaForm.form"
>
  <app-page-content-container
    (goBackButtonAction)="handleGoBackButtonAction()"
    [hasGoBackActionButton]="true"
    pageTitle="Add cinema"
  >
    <ng-container content>
      <mat-stepper #stepper linear>
        <mat-step>
          <app-step-one
            [createCinemaForm]="cinemaForm.stepOneFormGroup"
            [stepOneFormGroup]="createCinemaForm"
          ></app-step-one>
          <div>
            <button color="primary" mat-flat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>

        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button (click)="stepper.reset()" mat-button>Reset</button>
            <button color="primary" mat-raised-button type="submit">
              Submit
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </ng-container>
  </app-page-content-container>
</form>
