<table class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Street and building number</mat-label>
        <input [formControl]="streetAndBuildingNumberControl" matInput placeholder="Ex. Main Street 123" required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Postal code</mat-label>
        <input [formControl]="postalCodeControl" matInput placeholder="Ex. 00-000" required>
      </mat-form-field>
    </td>
  </tr>
</table>

<table class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input [formControl]="cityControl" matInput required>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input [formControl]="countryControl" matInput required>
      </mat-form-field>
    </td>
  </tr>
</table>


