<app-page-content-container
  [isLoading]="isLoading"
  pageTitle="Repertory"
>
  <ng-container content
                *ngIf="screeningsGroupedByScreeningRoom  as groupedScreenings">
    <div *ngFor="let roomName of Object.keys(groupedScreenings)">
      <h2>{{ roomName }}</h2> <!-- Wyświetlenie nazwy sali nad tabelą -->

      <section class="example-container mat-elevation-z8" tabindex="0">
        <table mat-table [dataSource]="groupedScreenings[roomName]">

          <!-- Movie Column -->
          <ng-container matColumnDef="movie">
            <th mat-header-cell *matHeaderCellDef> Movie</th>
            <td mat-cell *matCellDef="let element"> {{ element.movie.title }}</td>
          </ng-container>

          <!-- Start Time Column -->
          <ng-container matColumnDef="startTime">
            <th mat-header-cell *matHeaderCellDef> Start Time</th>
            <td mat-cell *matCellDef="let element"> {{ element.startTime | date }}</td>
          </ng-container>

          <!-- End Time Column -->
          <ng-container matColumnDef="endTime">
            <th mat-header-cell *matHeaderCellDef> End Time</th>
            <td mat-cell *matCellDef="let element"> {{ element.endTime | date }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </section>
    </div>
  </ng-container>
</app-page-content-container>

