$app-semi-transparent-black: #1c222c;
$app-white-smoke-tint: #F8F8F8;
$app-white: #FFFFFF;
$app-login: #ececec;

$app-seat-vip: #ffd24d;
$app-seat-standard: #c28dff;
$app-seat-wheelchair: #97d3f1;
$app-seat-promo: #66ff66;
$app-button-primary: #085cbc;
$app-seat-corridor: #e06666;

$app-details-header: #666666;

$app-deletion-dialog-title-bg: #f44336;
$app-deletion-dialog-title-color: #FFFFFF;

$app-error-dialog-title-color: #FFFFFF;

$app-options-button-hover: #cfcfcf;
$app-options-item-hover: #f0f0f0;

$app-warn: #f44336;
