<div class="container">
  <h1 class="center-text">Log In</h1>
  <mat-divider></mat-divider>
  <form (ngSubmit)="login()" [formGroup]="loginForm" class="form">
    <mat-form-field class="custom-form-field">
      <mat-label>E-Mail</mat-label>
      <input [formControl]="emailControl" matInput required>
      <mat-error *ngIf="emailControl.hasError('required')">
        E-Mail is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Password</mat-label>
      <div class="password-input-container">
        <input [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'" matInput maxlength="255"
               required>
        <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
          <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <button [disabled]="loginForm.invalid" [routerLink]="['/account']" color="primary" mat-raised-button type="submit">
      Login
    </button>

    <a class="account-link space" color="primary" href="/reset-password" mat-button>Forgot your password?</a>
    <div class="account-link-container">
      <p class="account-text">Click here to create an</p>
      <a class="account-link" color="primary" href="/registration" mat-button><strong>account</strong>!</a>
    </div>
  </form>
</div>

<app-page-bottom-section></app-page-bottom-section>
