$app-seat-vip: #ffd24d;
$app-seat-standard: #7925d5;
$app-seat-wheelchair: #4eb0e1;
$app-seat-promo: #11b211;
$app-seat-corridor: #e06666;

$screening-list-background: #f3f1f5;
$screening-background: #fff;
