<mat-form-field class="example-full-width" *ngIf="currentDepartmentControl">
  <mat-label>Department</mat-label>
  <input [formControl]="currentDepartmentControl" matInput required type="string">
</mat-form-field>

<table class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width" *ngIf="currentEmailControl">
        <mat-label>Email</mat-label>
        <input [formControl]="currentEmailControl" matInput required type="string">
        <mat-icon matSuffix>alternate_email</mat-icon>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width" *ngIf="currentPhoneNumberControl">
        <mat-label>Phone number</mat-label>
        <input [formControl]="currentPhoneNumberControl" matInput required type="string">
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>
    </td>
  </tr>
</table>


<div mat-subheader>Saved contacts list:</div>
<mat-list role="list">
  <mat-list-item *ngFor="let contact of allContactDetails; let i = index" role="listitem">
    <button (click)="editContact(i)" color="primary" mat-icon-button type="button">
      <mat-icon>edit</mat-icon>
    </button>
    <span>Contact no. {{ i + 1 }} - Department: {{ contact.department }}</span>
  </mat-list-item>
</mat-list>
