.header {
  background-color: white;
  height: 15vh;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: left;
}

.container.container-small {
  max-width: 70em;
}

hr {
  margin: 0 0;
  border-top: 3px solid #ccc;
}

.breaker {
  height: 32px;
}

.form-field {
  padding-right: 1rem;
}

