<div class="container">
  <h1 class="center-text">Log In</h1>
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    <mat-form-field class="custom-form-field">
      <mat-label>E-Mail</mat-label>
      <input [formControl]="emailControl" matInput required>
      <mat-error *ngIf="emailControl.hasError('required')">
        E-Mail is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Password</mat-label>
      <div class="password-input-container">
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput maxlength="255"
               required>
        <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
          <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </mat-form-field>

    <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Login</button>
    <a class="account-link space" color="primary" href="/forgot-password" mat-button>Forgot your password?</a>
    <div class="account-link-container">
      <p class="account-text">Click here to create an</p>
      <a class="account-link" color="primary" href="/registration" mat-button><strong>account</strong>!</a>
    </div>
  </form>
</div>

