<div class="container">
  <h1 class="center-text">Register</h1>
  <mat-divider></mat-divider>
  <form (ngSubmit)="submit()" [formGroup]="form" class="form">
    <div class="items-together">
      <mat-form-field class="custom-form-field ">
        <mat-label>First name</mat-label>
        <input [formControl]="firstNameControl" matInput required>
        <mat-error *ngIf="firstNameControl.hasError('required')">
          First name is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Last name</mat-label>
        <input [formControl]="lastNameControl" matInput required>
        <mat-error *ngIf="lastNameControl.hasError('required')">
          Last name is required!
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="custom-form-field">
      <mat-label>E-Mail</mat-label>
      <input [formControl]="emailControl" matInput required>
      <mat-error *ngIf="emailControl.hasError('required')">
        E-Mail is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Confirm E-Mail</mat-label>
      <input [formControl]="emailConfirmationControl" matInput required>
      <mat-error *ngIf="emailConfirmationControl.hasError('required')">
        Confirm your email!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Password</mat-label>
      <div class="password-input-container">
        <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput maxlength="255"
               required>
        <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
          <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </div>
    </mat-form-field>
    <button [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Create an account</button>
  </form>
</div>

<app-page-bottom-section></app-page-bottom-section>
