.container {
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}

.center {
  text-align: center;
}

.center-text {
  display: flex;
  justify-content: center;
}

.form, .form * {
  box-sizing: border-box;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto; /* Center horizontally */
  padding: 20px;
}

mat-selection-list {
  width: 100%;
  padding: 0;
}

mat-list-option {
  width: 100%;
  padding: 0;
  margin: 0;
}

.custom-form-field {
  width: 50%;
  display: flex;
  align-items: center;
}

.option-icon {
  width: 50px;
  height: 50px;
  margin-right: 8px;
}

.mat-list-option .mat-pseudo-checkbox {
  margin-left: 0 !important;
  margin-right: auto !important;
}

.password-input-container {
  display: flex;
  align-items: center;
}


h1 {
  font-size: 48px;
  margin-bottom: 20px;
}


.account-link-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

.account-text {
  margin: 0;
  font-size: 14px; /* Adjust as needed */
}

.account-link {
  text-decoration: none; /* Remove underline */
  font-weight: bold;
}

.space {
  margin-top: 20px;
}
