<div class="pad"></div>
<div class="container mat-elevation-z4">
  <mat-tab-group animationDuration="50ms" color="primary">
    <mat-tab label="My Profile">
      <div class="tab-content">
        <app-my-profile></app-my-profile>
      </div>
    </mat-tab>
    <mat-tab label="My Tickets">
      <div class="tab-content">
        <app-tickets></app-tickets>
      </div>
    </mat-tab>
    <mat-tab label="Preferences">
      <div class="tab-content">
        <h2>Preferences</h2>
        <p>Customize your preferences.</p>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div class="pad"></div>
<app-page-bottom-section></app-page-bottom-section>
