<div class="container">
  <h1 class="center-text">Register</h1>
  <mat-divider></mat-divider>
  <form (ngSubmit)="submit()" [formGroup]="registerForm" class="form">
    <div class="items-together">
      <mat-form-field class="custom-form-field ">
        <mat-label>First name</mat-label>
        <input [formControl]="firstNameControl" matInput required>
        <mat-error *ngIf="firstNameControl.hasError('required')">
          First name is required!
        </mat-error>
      </mat-form-field>
      <mat-form-field class="custom-form-field">
        <mat-label>Last name</mat-label>
        <input [formControl]="lastNameControl" matInput required>
        <mat-error *ngIf="lastNameControl.hasError('required')">
          Last name is required!
        </mat-error>
      </mat-form-field>
    </div>
    <mat-form-field class="custom-form-field">
      <mat-label>E-Mail</mat-label>
      <input [formControl]="emailControl" matInput required>
      <mat-error *ngIf="emailControl.hasError('required')">
        E-Mail is required!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Password</mat-label>
      <input [formControl]="passwordControl" [type]="hidePassword() ? 'password' : 'text'" matInput required>
      <button
        (click)="showPasswordEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hidePassword()"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="custom-form-field">
      <mat-label>Confirm new password</mat-label>
      <input [formControl]="passwordConfirmationControl" [type]="hidePasswordConfirmation() ? 'password' : 'text'"
             matInput
             required>
      <button
        (click)="showPasswordConfirmationEvent($event)"
        [attr.aria-label]="'Hide passwordConfirmation'"
        [attr.aria-pressed]="hidePasswordConfirmation()"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hidePasswordConfirmation() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-error *ngIf="registerForm.hasError('mismatch') && passwordConfirmationControl.dirty" class="error-message">
      Passwords do not match
    </mat-error>
    <button [disabled]="registerForm.invalid" color="primary" mat-raised-button type="submit">Create new account
    </button>
  </form>
</div>
<app-page-bottom-section></app-page-bottom-section>
