<mat-stepper #stepper linear>
  <mat-step>
    <ng-template matStepLabel>Seat selection</ng-template>
    <app-seat-selection
    ></app-seat-selection>
    <div>
      <button class="next-button" color="primary" mat-flat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Order form</ng-template>
    <app-order-form
    ></app-order-form>
    <div>
      <button class="next-button" color="primary" mat-flat-button matStepperNext type="button">Pay</button>
    </div>
  </mat-step>
</mat-stepper>
