<mat-stepper #stepper linear>
  <mat-step [stepControl]="seatSelectionFormGroup">
    <ng-template matStepLabel>Seat selection</ng-template>
    <app-seat-selection
      [createBuyTicketForm]="seatSelectionFormGroup"
      [seatSelectionFormGroup]="buyTicketForm"
    ></app-seat-selection>
    <div>
      <button class="next-button" color="primary" mat-flat-button matStepperNext type="button">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="customerDataFormGroup">
    <ng-template matStepLabel>Order form</ng-template>
    <app-order-form
      [createBuyTicketForm]="customerDataFormGroup"
      [customerDataFormGroup]="buyTicketForm"
    ></app-order-form>
    <button (click)="handlePayClicked()" [disabled]="buyTicketForm.form.invalid" class="next-button" color="primary"
            mat-flat-button>
      Pay
    </button>
  </mat-step>
</mat-stepper>
