<app-generic-form-frame title="Poster and trailer">
  <ng-container content>
    <div class="inputs-form-container">
      <div class="custom-file-input">
        <input #fileInput (change)="onFileSelected($event)" accept="image/*" type="file">
        <button (click)="fileInput.click()" mat-raised-button type="button">Choose Image</button>
        <span *ngIf="selectedFileName" class="selected-file-name">{{ selectedFileName }}</span>
      </div>
      <mat-form-field class="input-form-field">
        <mat-label>Trailer</mat-label>
        <input [formControl]="trailerControl" matInput placeholder="Paste link here..." required>
        <mat-error *ngIf="trailerControl.hasError('required')">
          Trailer is <strong>required!</strong>
        </mat-error>
        <mat-error *ngIf="trailerControl.hasError('pattern')">
          Trailer is <strong>invalid!</strong> Remember to paste the link with embed key word.
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</app-generic-form-frame>
