<table [dataSource]="screenings" class="mat-elevation-z8" mat-table>
  <ng-container matColumnDef="options">
    <th *matHeaderCellDef class="column-header" mat-header-cell>
      Options
    </th>
    <td *matCellDef="let row" class="options-cell" mat-cell>
      <app-options-table-button
        (delete)="handleDeleteScreening($event)"
        (edit)="handleEditScreening($event)"
        [hasShowDetailsButton]="false"
        [row]="row"
      ></app-options-table-button>
    </td>
  </ng-container>

  <!-- Movie Column -->
  <ng-container matColumnDef="movie">
    <th *matHeaderCellDef mat-header-cell> Movie</th>
    <td *matCellDef="let element" mat-cell> {{ element.movie.title }}</td>
  </ng-container>

  <!-- Start Time Column -->
  <ng-container matColumnDef="startTime">
    <th *matHeaderCellDef mat-header-cell> Start Time</th>
    <td *matCellDef="let element" mat-cell> {{ element.startTime | date: 'yyyy-MM-dd HH:mm' }}</td>
  </ng-container>

  <!-- End Time Column -->
  <ng-container matColumnDef="endTime">
    <th *matHeaderCellDef mat-header-cell> End Time</th>
    <td *matCellDef="let element" mat-cell> {{ element.endTime | date: 'yyyy-MM-dd HH:mm' }}</td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
</table>
