<div class="page-content-container">
  <div class="page-header">
    <h1 class="page-content-container__header">{{ pageTitle }}</h1>
    <ng-container *ngIf="hasCreateNewButton">
      <a [matTooltip]="buttonMatToolTip" [routerLink]="routerLink" mat-fab>
        <mat-icon>add</mat-icon>
      </a>
    </ng-container>
  </div>
  <ng-container *ngIf="!isLoading; else spinner">
    <div class="page-content-container__content-container">
      <ng-content select="[content]"></ng-content>
    </div>
  </ng-container>
</div>

<ng-template #spinner>
  <div class="page-content-container__spinner-container">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
