<button [matMenuTriggerFor]="menu" aria-label="Options" class="options-button" mat-icon-button>
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button *ngIf="!isUserRoleCinemaManager" (click)="handleEdit()" class="options-menu-item" mat-menu-item>
    <mat-icon>edit</mat-icon>
    <span>Edit</span>
  </button>
  <button *ngIf="!isUserRoleCinemaManager" (click)="handleDelete()" class="options-menu-item" mat-menu-item>
    <mat-icon>delete</mat-icon>
    <span>Delete</span>
  </button>
  <div *ngIf="hasShowDetailsButton">
    <button (click)="handleShowDetails()" class="options-menu-item" mat-menu-item>
      <mat-icon>info</mat-icon>
      <span>Show details</span>
    </button>
  </div>
</mat-menu>
