@import "../../../_shared/styles/_colors.scss";

.options-button:hover {
  background-color: $app-options-button-hover;
}

.options-menu-item {
  color: $app-semi-transparent-black;

  &:hover {
    background-color: $app-options-item-hover;
  }

  span {
    font-size: 1rem;
    font-weight: normal;
  }
}
