<form
  #projectionTechnologyForm="ngForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="projectionTechnologyFormGroup"
>
  <app-page-content-container
    [isLoading]="isLoading"
    pageTitle="Add projection technology"
  >
    <ng-container content>
      <div class="form-container">
        <app-create-projection-technology-main-form-frame
          [descriptionControl]="projectionTechnologyFormGroup.controls.description"
          [form]="projectionTechnologyForm"
          [technologyControl]="projectionTechnologyFormGroup.controls.technology"
        ></app-create-projection-technology-main-form-frame>
      </div>
      <div class="button-container">
        <button (click)=handleCancelClicked() color="warn" mat-flat-button>Cancel</button>
        <button [disabled]="projectionTechnologyFormGroup.invalid" color="primary" mat-flat-button type="submit">Save
        </button>
      </div>
    </ng-container>
  </app-page-content-container>

</form>



