<app-page-content-container
  [isLoading]="isLoading"
  pageTitle="Add projection technology"
>
  <form #projectionTechnologyForm="ngForm" [formGroup]="projectionTechnologyFormGroup">
    <ng-container content>
      <div class="form-container">
        <app-generic-form-frame title="About">
          <ng-container content>
            <app-create-projection-technology-main-form-frame
              [descriptionControl]="projectionTechnologyFormGroup.controls.description"
              [form]="projectionTechnologyForm"
              [technologyControl]="projectionTechnologyFormGroup.controls.technology"
            ></app-create-projection-technology-main-form-frame>
          </ng-container>
        </app-generic-form-frame>
      </div>
    </ng-container>
    <ng-container>
    </ng-container>
  </form>
</app-page-content-container>

