<app-page-content-container
  (deleteButtonEventEmitter)="handleDeleteTechnology()"
  (editButtonEventEmitter)="handleEditTechnology()"
  (goBackButtonEventEmitter)="handleGoBack()"
  [hasDetailsActionButtons]="true"
  [hasGoBackButton]="true"
  [isLoading]="isLoading"
  [isUserRoleCinemaManager]="isUserRoleCinemaManager"
  deleteButtonAriaLabel="Delete projection technology"
  editButtonAriaLabel="Edit projection technology"
  pageTitle="Projection Technology details"
>
  <ng-container content>
    <div *ngIf="projectionTechnology$ | async as projectionTechnology">
      <app-generic-details-field [content]="projectionTechnology.technology"
                                 title="Projection technology name"></app-generic-details-field>
      <app-generic-details-field [content]="projectionTechnology.description"
                                 title="Description"></app-generic-details-field>
    </div>
  </ng-container>
</app-page-content-container>
