<form
  #loginForm="ngForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="registerFormGroup"
>
  <ng-container content>
    <img alt="My image name" class="image" height="45" ngSrc="./assets/img/CineMagic.png" width="524">
    <div class="content-container">
      <div class="background-container">
        <h1 class="title">Sign up</h1>
        <app-register-main-form-frame
          [emailControl]="registerFormGroup.controls.email"
          [firstNameControl]="registerFormGroup.controls.firstName"
          [form]="loginForm"
          [lastNameControl]="registerFormGroup.controls.lastName"
          [passwordControl]="registerFormGroup.controls.password"
          [repeatEmailControl]="registerFormGroup.controls.repeatEmail"
          [roleControl]="registerFormGroup.controls.role"
        ></app-register-main-form-frame>
        <div class="button-container">
          <button [disabled]="registerFormGroup.invalid" color="primary" mat-flat-button type="submit">Sign up
          </button>
        </div>
      </div>
    </div>
  </ng-container>
</form>
