@import "../../../../_shared/styles/_colors.scss";

.input-form-field {
  width: 100%;
}

.register-form-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
}

.password-input-container {
  display: flex;
  align-items: center;
}

.inputs-form-container {
  display: flex;
  flex-direction: column;
  width: 60rem;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.input-field {
  width: 49%;
}

