.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.container h1, .container p, .container button {
  margin: 10px 0;
}

button a {
  color: inherit;
  text-decoration: none;
}

.svg {
  width: 90px;
}

.icon {
  font-size: 90px;
  height: 90px;
  width: 90px;
}

.color-success {
  color: green;
}

.color-error {
  color: red;
}
