.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.message {
  font-size: 1.125rem;
  color: #555;
  margin-bottom: 2rem;
}

.image {
  width: 120px;
}
