@import "../../../_shared/styles/_colors.scss";

.generic-form-container {
  background: $app-white;
  box-shadow: 0 2px 2px 0 $app-semi-transparent-black;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  padding: 1.2rem;
  margin-bottom: 1.5rem;

  &__header {
    font-size: 1.5rem;
    font-weight: normal;
    margin: 0;
    text-align: left;
  }
}
