<div class="form-container">
  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input [formControl]="emailControl" matInput maxlength="255" required>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <div class="password-input-container">
      <input [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'" matInput maxlength="255"
             required>
      <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
        <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Role</mat-label>
    <mat-select [formControl]="roleControl">
      <mat-option value="CINEMA_MANAGER">Cinema Manager</mat-option>
      <mat-option value="CINEMA_NETWORK_MANAGER">Cinema Network Manager</mat-option>
    </mat-select>
  </mat-form-field>
</div>


