<div class="inputs-form-container">
  <mat-form-field class="input-form-field">
    <mat-label>Email</mat-label>
    <input [formControl]="emailControl" matInput maxlength="255" required>
  </mat-form-field>

  <mat-form-field class="input-form-field">
    <mat-label>Password</mat-label>
    <div class="password-input-container">
      <input [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'" matInput maxlength="255"
             required>
      <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
        <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </div>
  </mat-form-field>
</div>


