@import "../../../../shared/styles/_colors.scss";


.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 15% auto 0;
}

.example-full-width {
  width: 100%;
  margin-top: 2rem;
}
