<app-generic-form-frame>
  <ng-container content>
    <div class="inputs-form-container">
      <mat-form-field class="input-form-field">
        <mat-label>First name</mat-label>
        <input [formControl]="firstNameControl" matInput maxlength="255" required>
        <mat-hint align="end">{{ firstNameControl.value.length }} / 255</mat-hint>
        <mat-error *ngIf="firstNameControl.hasError('required')">
          First name is <strong>required!</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form-field">
        <mat-label>Last name</mat-label>
        <input [formControl]="lastNameControl" matInput maxlength="255" required>
        <mat-hint align="end">{{ lastNameControl.value.length }} / 255</mat-hint>
        <mat-error *ngIf="lastNameControl.hasError('required')">
          Last name is <strong>required!</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form-field">
        <mat-label>Email</mat-label>
        <input [formControl]="emailControl" matInput maxlength="255" required>
        <mat-hint align="end">{{ emailControl.value.length }} / 255</mat-hint>
        <mat-error *ngIf="emailControl.hasError('required')">
          Email is <strong>required!</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form-field" *ngIf="!isEditMode">
        <mat-label>Password</mat-label>
        <div class="password-input-container">
          <input [formControl]="passwordControl" [type]="hidePassword ? 'password' : 'text'" matInput maxlength="255"
                 required>
          <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
            <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <mat-form-field class="input-form-field" *ngIf="isEditMode">
        <mat-label>Current password</mat-label>
        <div class="password-input-container">
          <input [formControl]="currentPasswordControl" [type]="hidePassword ? 'password' : 'text'" matInput
                 maxlength="255">
          <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
            <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <mat-form-field class="input-form-field" *ngIf="isEditMode">
        <mat-label>New password</mat-label>
        <div class="password-input-container">
          <input [formControl]="newPasswordControl" [type]="hidePassword ? 'password' : 'text'" matInput
                 maxlength="255">
          <button (click)="togglePasswordVisibility()" mat-icon-button matSuffix type="button">
            <mat-icon matSuffix>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
      </mat-form-field>

      <mat-form-field class="input-form-field" *ngIf="!isEditMode">
        <mat-label>Role</mat-label>
        <mat-select [formControl]="roleControl">
          <mat-option value="CINEMA_MANAGER">Cinema Manager</mat-option>
          <mat-option value="CINEMA_NETWORK_MANAGER">Cinema Network Manager
          </mat-option>
        </mat-select>
        <mat-error *ngIf="roleControl.hasError('required')">
          Role is <strong>required!</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-form-field" *ngIf="roleControl.value === 'CINEMA_MANAGER'">
        <mat-label>Managed Cinema</mat-label>
        <mat-select [formControl]="managedCinemaNameControl">
          <mat-option [value]="0">None</mat-option>
          <mat-option *ngFor="let cinema of cinemaNames | async" [value]="cinema">
            {{ cinema }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
</app-generic-form-frame>
