<app-page-content-container
  pageTitle="Add cinema"
>
  <ng-container content>
    <mat-stepper #stepper [linear]="true">
      <mat-step [stepControl]="aboutCinemaFormGroup">
        <form #aboutCinemaStepForm="ngForm" [formGroup]="aboutCinemaFormGroup">
          <ng-template matStepLabel>About cinema</ng-template>

          <div class="form-container">
            <app-generic-form-frame title="About">
              <ng-container content>
                <app-about-cinema
                  [descriptionControl]="aboutCinemaFormGroup.controls.description"
                  [form]="aboutCinemaStepForm"
                  [nameControl]="aboutCinemaFormGroup.controls.name"
                ></app-about-cinema>
              </ng-container>
            </app-generic-form-frame>

            <app-generic-form-frame title="Address">
              <ng-container content>
                <app-address
                  [cityControl]="aboutCinemaFormGroup.controls.city"
                  [countryControl]="aboutCinemaFormGroup.controls.country"
                  [form]="aboutCinemaStepForm"
                  [postalCodeControl]="aboutCinemaFormGroup.controls.postalCode"
                  [streetAndBuildingNumberControl]="aboutCinemaFormGroup.controls.streetAndBuildingNumber"
                ></app-address>
              </ng-container>
            </app-generic-form-frame>
          </div>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
          <div class="button-stepper">
            <button
              (click)="checkInvalid()"
              [disabled]="aboutCinemaFormGroup.invalid"
              color="primary"
              mat-flat-button
              matStepperNext
            >
              Next page
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="screeningRoomsFormGroup">
        <form #screeningRoomsStepForm="ngForm" [formGroup]="aboutCinemaFormGroup">
          <ng-template matStepLabel>Screening rooms</ng-template>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Contact details</ng-template>
      </mat-step>
    </mat-stepper>
  </ng-container>
</app-page-content-container>
