@import "../../../shared/styles/_colors.scss";

.error-dialog-header {
  display: flex;
  align-items: center;
  background-color: $app-warn;

  &__error-icon {
    color: $app-white;
    transform: scale(1.5);
    padding-left: 0.625rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    color: $app-error-dialog-title-color;
    font-size: 1.25rem;
  }
}
