.movies-container {
  width: 100%;
  background-color: #f3f1f5;
  padding: 20px;
  position: relative;
}

.container {
  margin: 0 auto;
  display: block;
  text-align: left;
}

.container.container-small {
  max-width: 70em;
}


.screening-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
}

.movie-poster {
  max-width: 12.75rem;
  border-radius: 8px;
  overflow: hidden;
  height: auto;
  display: block;
}

.screening-details {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;

  &__header {
    display: flex;
    align-items: center;

    p {
      margin-left: 1.5rem;
    }
  }
}

.screening-hours-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.spinner {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.no-movies-message {
  text-align: center;
  padding: 1rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  color: #721c24;
  font-family: Arial, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

.no-movies-icon {
  font-size: 48px;
  color: #721c24;
}

.no-movies-text {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}

.no-movies-subtext {
  font-size: 1em;
  color: #7d818d;
}

.screening-hours {
  margin-right: 1rem;
}

.mat-divider {
  border-top-width: 4px;
  margin-bottom: 22px;
}
