@import "../../../_shared/styles/_colors.scss";


.movies-container {
  width: 100%;
  background-color: $screening-list-background;
  padding: 20px;
}

.container {
  margin: 0 auto;
  display: block;
  text-align: left;
  max-width: 70em;
}

.screening-container {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $screening-background;
}

.poster {
  width: 11rem;
  height: 15rem;
  border-radius: 8px;
  overflow: hidden;
  display: block;
}

.screening-details {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;

  &__header {
    display: flex;
    align-items: center;

    p {
      margin-left: 1.5rem;
    }

    a {
      text-decoration: none;
    }

    h2 {
      color: black;
    }
  }
}

.screening-hours-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.screening-hours {
  margin-right: 1rem;
  margin-bottom: 4px;
}

.more-info {
  text-decoration: none;
}

.spinner {
  padding: 1rem 0 1rem 0;
  display: flex;
  justify-content: center;
}

.no-movies-message {
  text-align: center;
  padding: 1rem;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  color: #721c24;
  max-width: 500px;
  margin: 0 auto;
}

.no-movies-icon {
  font-size: 48px;
  color: #721c24;
}

.no-movies-text {
  font-size: 1.25em;
  font-weight: bold;
  margin: 10px 0;
}

.no-movies-subtext {
  font-size: 1em;
  color: #7d818d;
}

.mat-divider {
  border-top-width: 4px;
  margin-bottom: 22px;
}

h3 {
  margin: 0 0 8px;
}
