<app-page-content-container
  [hasCreateNewButton]=true
  [isLoading]="isLoading"
  pageTitle="Repertory"
  routerLink="/repertory/create"
>
  <ng-container *ngIf="!isLoading" content>
    <div *ngIf="screeningsGroupedByScreeningRoom  as groupedScreenings" content>
      <div *ngFor="let roomName of Object.keys(groupedScreenings)">
        <div class="repertory-table-container">
          <div class="header-content">
            <h2 class="room-name">{{ roomName }}</h2>
          </div>
          <app-repertory-table-component
            (handleAdd)="onAddScreening($event)"
            (handleDelete)="onDeleteScreening($event)"
            (handleEdit)="onEditScreening($event)"
            [screenings]="groupedScreenings[roomName]"
          ></app-repertory-table-component>
        </div>
      </div>
    </div>
  </ng-container>
</app-page-content-container>

