.repertory-table-container {
  margin-bottom: 2rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-name {
  margin-bottom: 4px;
  align-self: flex-end;
}

.add-button {
  align-self: flex-start;
  margin-bottom: 10px;
}
