.container {
  padding: 1.5rem 2rem;
  margin: 2rem auto;
  background-color: #ffffff;
  border-radius: 8px;
  width: 60%;
}

.pad {
  padding-top: 1px;
}

.tab-content {
  padding: 1rem;
  color: #424242;
}

app-page-bottom-section {
  margin-top: 2rem;
}
