<app-generic-form-frame title="Age restriction and genres">
  <ng-container content>
    <div class="inputs-form-container">

      <mat-form-field class="input-form-field">
        <mat-label>Age restriction</mat-label>
        <mat-select [formControl]="ageRestrictionControl">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let ageRestriction of ageRestrictions | async" [value]="ageRestriction">
            {{ ageRestriction }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="ageRestrictionControl.hasError('required')">
          Age restriction is <strong>required!</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field class="input-form-field">
        <mat-label>Genres</mat-label>
        <mat-select [formControl]="genresControl" multiple>
          <mat-option *ngFor="let genre of genres | async" [value]="genre">{{ genre }}</mat-option>
        </mat-select>
        <mat-error *ngIf="genresControl.hasError('required')">
          Genres are <strong>required!</strong>
        </mat-error>
      </mat-form-field>
    </div>
  </ng-container>
</app-generic-form-frame>
