<h2>Personal data</h2>
<div class="form-container">
  <form (ngSubmit)="saveProfile()" [formGroup]="profileForm">
    <div class="form-row">
      <mat-form-field class="input">
        <mat-label>First name</mat-label>
        <input [formControl]="firstNameControl" matInput required>
      </mat-form-field>
      <mat-form-field class="input">
        <mat-label>Last name</mat-label>
        <input [formControl]="lastNameControl" matInput required>
      </mat-form-field>
    </div>
    <mat-form-field class="email-input">
      <mat-label>Email</mat-label>
      <input [formControl]="emailControl" matInput required type="email">
    </mat-form-field>
    <button [disabled]="profileForm.invalid" color="accent" mat-raised-button type="submit">
      Save changes
    </button>
  </form>
</div>
<h2>Change password</h2>
<div class="form-container">
  <form (ngSubmit)="resetPassword()" [formGroup]="profileForm">
    <mat-form-field class="input">
      <mat-label>Current password</mat-label>
      <input [formControl]="currentPasswordControl" matInput required type="password">
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>New password</mat-label>
      <input [formControl]="newPasswordControl" matInput required type="password">
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Confirm new password</mat-label>
      <input [formControl]="newPasswordConfirmationControl" matInput required type="password">
    </mat-form-field>
    <button [disabled]="resetPasswordForm.invalid" color="primary" mat-raised-button type="submit">
      Reset password
    </button>
  </form>
</div>
