@import "../../../shared/styles/_colors.scss";

.dialog-header {
  display: flex;
  align-items: center;
  background-color: $app-warn
}

.mat-dialog-title {
  color: $app-white;
}

.mat-icon {
  color: $app-white;
  transform: scale(1.5);
}

.mat-icon {
  padding-left: 0.625rem;
  margin-bottom: 0.5rem;
}

