@import "../../../../../../_shared/styles/_colors.scss";

.screen-svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.row-number {
  width: 30px;
  text-align: center;
  font-weight: lighter;
  margin-right: 10px;
}

.seat-row {
  display: flex;
  justify-content: center;
  align-items: center; /* Aligns row number and seats vertically */
  margin-bottom: 10px;
}

.seat {
  margin-right: 5px;
}

.custom-mini-fab {

}

.btn {
  border: 2px solid black;
  // background-color: white;
  cursor: pointer;
}

.selected-standard {
  border-color: $app-seat-standard;
}

.selected-standard:hover {
  background-color: $app-seat-standard;
}

.selected-vip {
  border-color: $app-seat-vip;
}

.selected-vip:hover {
  background-color: $app-seat-vip;
}

.selected-promo {
  border-color: $app-seat-promo;
}

.selected-promo:hover {
  background-color: $app-seat-promo;
}

.selected-wheelchair {
  border-color: $app-seat-wheelchair;
}

.selected-wheelchair:hover {
  background-color: $app-seat-wheelchair;
}

.selected-by-user {
  background-color: $app-seat-corridor;
}

.corridor-space {
  width: 40px;
  height: 40px;
  display: inline-block;
}

.legend {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

