.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem;
}

.title {
  font-size: 2rem;
  color: #333; /* Dark text color for better readability */
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1.125rem;
  color: #555;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form, .form * {
  box-sizing: border-box;
}

.input {
  width: 25%;
  margin-bottom: 1rem;
}
