@import "../../../shared/styles/_colors.scss";


.generic-details-container {
  display: block;

  margin-left: 2.688rem;
  margin-right: 6rem;

  &__header {
    color: $app-details-header;
    font-size: 1.125rem;
    margin-bottom: 0.250rem;
  }

  &__content {
    margin-top: 0.125rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: normal;
  }
}


