<div class="bg2">
  <div class="container">
    <div class="item">
      <h4 class="header ">ABOUT US</h4>
      <p class="group-item">
        <a href="https://www.google.com/">Lorem ipsum dolor sit amet</a>
      </p>
      <p class="group-item">
        <a href="https://www.google.com/">Pellentesque habitant</a>
      </p>
      <p class="group-item">
        <a href="https://www.google.com/">Praesent</a>
      </p>
      <p class="group-item">
        <a href="https://www.google.com/">Lorem</a>
      </p>
    </div>
    <div class="item">
      <h4 class="header ">CONTACT US</h4>
      <p class="group-item">
        <a href="https://www.google.com/">Lorem ipsum</a>
      </p>
      <p class="group-item">
        <a href="https://www.google.com/">Lorem ipsum</a>
      </p>
    </div>
    <div class="item">
      <h4 class="header ">FOLLOW US</h4>
      <p class="group-item">
        <a class="link-with-icon" href="https://www.google.com/">
          <img alt="Screen" class="icon" height="31px" src="assets/fb.svg" width="31px"/>
          <div>
            <span>Facebook</span>
          </div>
        </a>
      </p>
      <p class="group-item">
        <a class="link-with-icon" href="https://www.google.com/">
          <img alt="Screen" class="icon" height="31px" src="assets/x.svg" width="31px"/>
          <div>
            <span>X (Twitter)</span>
          </div>
        </a>
      </p>
    </div>
  </div>
</div>
