<!--<ng-container *ngIf="screeningsGroupedByScreeningRoom  as groupedScreenings">-->
<!--  <div *ngFor="let roomName of Object.keys(groupedScreenings)">-->
<!--    <h2>{{ roomName }}</h2> &lt;!&ndash; Wyświetlenie nazwy sali nad tabelą &ndash;&gt;-->

<!--    <section class="example-container mat-elevation-z8" tabindex="0">-->
<!--      <table mat-table [dataSource]="groupedScreenings[roomName]">-->

<!--        &lt;!&ndash; Movie Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="movie">-->
<!--          <th mat-header-cell *matHeaderCellDef> Movie</th>-->
<!--          <td mat-cell *matCellDef="let element"> {{ element.movie.name }}</td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; Start Time Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="startTime">-->
<!--          <th mat-header-cell *matHeaderCellDef> Start Time</th>-->
<!--          <td mat-cell *matCellDef="let element"> {{ element.startTime | date }}</td>-->
<!--        </ng-container>-->

<!--        &lt;!&ndash; End Time Column &ndash;&gt;-->
<!--        <ng-container matColumnDef="endTime">-->
<!--          <th mat-header-cell *matHeaderCellDef> End Time</th>-->
<!--          <td mat-cell *matCellDef="let element"> {{ element.endTime | date }}</td>-->
<!--        </ng-container>-->

<!--        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
<!--        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--      </table>-->
<!--    </section>-->
<!--  </div>-->
<!--</ng-container>-->

