<table cellspacing="0" class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Street and building number</mat-label>
        <input matInput placeholder="Ex. Main Street 123">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Postal code</mat-label>
        <input matInput placeholder="Ex. 00-000">
      </mat-form-field>
    </td>
  </tr>
</table>

<table cellspacing="0" class="example-full-width">
  <tr>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput>
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="example-full-width">
        <mat-label>Country</mat-label>
        <input matInput>
      </mat-form-field>
    </td>
  </tr>
</table>


