.custom-button:hover {
  background-color: #cfcfcf;
}

.mat-menu-item {
  color: black;
}

.mat-menu-item:hover {
  background-color: #f0f0f0;
}

.mat-menu-item {
  font-size: 1rem;
}

.mat-menu-item span {
  font-size: 1rem;
  font-weight: 400;
}
