.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.container h1, .container p, .container button {
  margin: 10px 0; /* Adds spacing between the items */
}

button a {
  color: inherit; /* Ensures the link inherits the button's text color */
  text-decoration: none; /* Removes underline from the link */
}
