<form
  #cinemaManagerForm="ngForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="cinemaManagerFormHelper.form"
>
  <app-page-content-container
    [isLoading]="isLoading"
    [pageTitle]="pageTitle"
  >
  </app-page-content-container>

  <app-cinema-manager-form-frame
    [formGroup]="cinemaManagerFormHelper.mainFormGroup"
    [form]="cinemaManagerForm"
  ></app-cinema-manager-form-frame>

  <div class="button-container">
    <button (click)=handleCancelClicked() color="warn" mat-flat-button>Cancel</button>
    <button [disabled]="cinemaManagerForm.form.invalid" color="primary" mat-flat-button type="submit">
      Save
    </button>
  </div>
</form>
