.container {
  margin: 0 auto;
  display: block;
  text-align: left;
  max-width: 70em;
}

.content {
  display: flex;
  align-items: flex-start;
  margin-bottom: 22px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  max-width: 70em;
}
