@import "../../../../../_shared/styles/_colors.scss";

.background {
  background-color: $screening-list-background;
  width: 100%;
  padding: 20px;
}

.container {
  margin: 0 auto;
  max-width: 70em;
  text-align: left;
}

.screening-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: $screening-background;
}

.screening-hours-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

button {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-divider {
  border-top-width: 4px;
  margin-bottom: 22px;
}
