<mat-toolbar class="toolbar" color="primary">
  <div class="spacer"></div>
  <a class="nav-link" href="/repertory">REPERTORY</a>
  <mat-divider class="divider" vertical></mat-divider>
  <a class="nav-link" href="/offers">OFFERS</a>
  <mat-divider class="divider" vertical></mat-divider>
  <a class="nav-link" href="/events">EVENTS</a>
  <div class="spacer"></div>
  <a class="nav-link font-size" href="/login">Log in</a>
  <mat-divider class="divider" vertical></mat-divider>
  <a class="nav-link" href="/registration">Register</a>
</mat-toolbar>
<div class="content">
  <ng-content></ng-content>
</div>
