@import "../../../shared/styles/_colors.scss";

.generic-form-container {
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 0.875rem;
  border-radius: 0.75rem;
  background: $app-white;
  box-shadow: 0 3px 3px 0 $app-semi-transparent-black;
  margin-bottom: 2rem;

  &__header {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
  }
}
