<form
  #cinemaManagerForm="ngForm"
  (ngSubmit)="onSubmit()"
  [formGroup]="userFormBuilder.form"
>
  <app-page-content-container
    [isLoading]="isLoading"
    [pageTitle]="pageTitle"
  >
    <ng-container content>
      <app-user-form-frame
        [cinemaNames]="cinemaNames"
        [formGroup]="userFormBuilder.mainFormGroup"
        [form]="cinemaManagerForm"
        [isEditMode]="isEditMode"
      ></app-user-form-frame>
    </ng-container>
  </app-page-content-container>

  <div class="form-buttons-container">
    <button (click)=handleCancelClicked() color="warn" mat-flat-button>Cancel</button>
    <button [disabled]="cinemaManagerForm.form.invalid" color="primary" mat-flat-button type="submit">
      Save
    </button>
  </div>
</form>
