<h2>Change password</h2>
<div class="form-container">
  <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm">

    <mat-form-field class="input">
      <mat-label>Current password</mat-label>
      <input [formControl]="currentPasswordControl" [type]="hideCurrentPassword() ? 'password' : 'text'" matInput
             required
             type="password">
      <button
        (click)="hidePassword($event, PasswordType.CURRENT)"
        [attr.aria-label]="'Hide current password'"
        [attr.aria-pressed]="hideCurrentPassword()"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hideCurrentPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>New password</mat-label>
      <input [formControl]="newPasswordControl" [type]="hideNewPassword() ? 'password' : 'text'" matInput required
             type="password">
      <button
        (click)="hidePassword($event, PasswordType.NEW)"
        [attr.aria-label]="'Hide new password'"
        [attr.aria-pressed]="hideNewPassword()"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hideNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="input">
      <mat-label>Confirm new password</mat-label>
      <input [formControl]="newPasswordConfirmationControl" [type]="hideNewPasswordConfirmation() ? 'password' : 'text'"
             matInput required
             type="password">
      <button
        (click)="hidePassword($event, PasswordType.CONFIRMATION)"
        [attr.aria-label]="'Hide new password confirmation'"
        [attr.aria-pressed]="hideNewPasswordConfirmation()"
        mat-icon-button
        matSuffix
        type="button"
      >
        <mat-icon>{{ hideNewPasswordConfirmation() ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-error *ngIf="changePasswordForm.hasError('mismatch') && newPasswordConfirmationControl.dirty"
               class="error-message">Passwords do not match
    </mat-error>
    <button [disabled]="changePasswordForm.invalid" color="accent" mat-raised-button type="submit">
      Reset password
    </button>
  </form>
</div>
